<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
       <%= render 'shared/stats' %>
     </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center">
    <%= image_tag("HomePage.png", alt: "HomePage", width: "100%") %>
    <h1>写真共有SNS</h1>

    <h2>写真を投稿して家族や友人と共有しよう</h2>

    <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>

  <!-- <script type="text/javascript">
    $('.alert').fadeOut(6000);
  </script> -->
<% end %>
