<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span>投稿<%= @user.microposts.count %>件</span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.microposts.any? %>
      <ol class="show-microposts">
        <% @microposts.each do |micropost| %>
          <li id="thumb-micropost-<%= micropost.id %>">
            <figure class=<%= micropost.filter %> >
              <%= image_tag micropost.picture.thumb.url %>
            </figure>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
