<li id="micropost-<%= micropost.id %>">
  <div class="micropost-header">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span><br />
    <span class="address"><%= link_to micropost.address, '#' if micropost.address? %></span>
  </div>

  <span class="content">
    <%= micropost.content if micropost.content? %>
  </span>

  <div class="picture">
    <figure class=<%= micropost.filter %> >
      <%= image_tag micropost.picture.url %>
    </figure>
  </div>

  <!--　いいね／コメント  -->
  <div class="like-comment">
    <span class="like_icon">
      <% if like = current_user.liked(micropost) %>
        <%= link_to fa_icon("heart 2x"), micropost_like_path(micropost, like), method: :delete, remote: true %>
      <% else %>
        <%= link_to fa_icon("heart-o 2x"), micropost_likes_path(micropost), method: :post, remote: true %>
      <% end %>
    </span>

    <span class="likes_count">
      いいね！ <%= micropost.likes_count %> 件
    </span>

    <span class="comment_icon">
      <%= fa_icon("comment-o 2x")  %>
    </span>

    <span class="comments_count">
      コメント <%= micropost.comments_count %> 件
    </span>
  </div>

  <!--  コメント表示　-->
  <ul class="comments_disp clear">
    <%= render micropost.comments %>
  </ul>

  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前
    <% if micropost.user == current_user %>
      <%= link_to "投稿を削除", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>

  <!--　コメント機能  -->
  <span class="comment">
    <%= form_for(@comment, url: micropost_comments_path(micropost), remote: true) do |f| %>
      <%= f.text_area :content, placeholder: "コメントを追加" %>
    <% end %>
  </span>
</li>

<script type="text/javascript">

  //Enterキーでコメントをsubmitする
  $('#micropost-<%= micropost.id %> #comment_content').keypress(function(e) {
    if (e.keyCode == 13) { // Enterが押された
      if (e.shiftKey) { // Shiftキーも押された
        $.noop();
      } else if ($('#micropost-<%= micropost.id %> #comment_content').val().replace(/\s/g, "").length > 0) {
        e.preventDefault();
        //Ajax送信に対応
        Rails.fire($('#micropost-<%= micropost.id %> #new_comment')[0], "submit");
      }
    } else {
      $.noop();
    }
  });

  //コメントアイコン押下でコメント入力欄をフォーカスする
  $('#micropost-<%= micropost.id %> .fa-comment-o').click(function(){
    $('#micropost-<%= micropost.id %> #comment_content').focus();
  });

</script>
